{% load static %}


<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="{% static 'plugins/jquery/jquery.js'%}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>
<!-- Slick Slider -->
<script src="{% static 'plugins/slick-carousel/slick.min.js'%}"></script>
<!-- Google Map -->
 {%comment%} error by github to resolve it
 <script src="qqqqqqqqqqqqqqqqqqqhttpsqqqqqqqqqqqqqqqq:qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//qqqqqqqqqqqqqqqqqqqqqqqqqmapsqqqqqqqqqqqqqqqqqqq.qqqqqqqqqqqqqqqqqqqgoogleapisqqqqqqqqqqqqqqqqqqqqqq.comqqqqqqqqqqqqqqqqqqqqq/mapsqqqqqqqqqqqqqqqqqqq/apiqqqqqqqqqqqq/js?keyqqqqqqqqqqqqqqqqqq=qqqqqqqqqqqqqqAIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tswqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq "></script>
 {%endcomment%}
<script src="{% static 'plugins/google-map/gmap.js'%}"></script>
<!-- main js -->
<script src="{% static 'js/custom.js'%}"></script>

</body>
</html>