{% load static %}


<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="{% static 'plugins/jquery/jquery.js'%}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>
<!-- Slick Slider -->
<script src="{% static 'plugins/slick-carousel/slick.min.js'%}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="{% static 'plugins/google-map/gmap.js'%}"></script>
<!-- main js -->
<script src="{% static 'js/custom.js'%}"></script>

</body>
</html>