{% load static %}
<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h2 class="mb-4">Our History</h2>
			
				{{about_detail.history|safe}}
				
			</div>
			<div class="col-lg-6 col-md-6">
				<img src="{% static 'images/news/news-02.jpg'%}" alt="" class="img-fluid rounded">			
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-6 col-md-6">
				<img src="{% static 'images/news/news-03.jpg'%}" alt="" class="img-fluid rounded">			
			</div>
			<div class="col-lg-6 col-md-6">
				<h2 class="mb-4">Our Mission</h2>
				{{about_detail.mission|safe}}
			</div>
		</div>
	</div>
</section>


<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="mb-5">
					<h2>Our honorable members</h2>
					<p>Team works that bind us together to get a good result.</p>
				</div>
			</div>
		</div>


		<div class="row">
			{% for item in teams%}
			{% if item.position == "CEO of newsbit" or item.position == "Senior Cheif Editor" or item.position == "Junior Editor" %}
			<div class="col-lg-4 col-md-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="{{item.img.url}}" alt="" class="img-fluid rounded">

					<div class="team-content mt-4">
						<h3 class="title-large">{{item.name}}</h3>
						<p>{{item.position}}</p>
						<p>{{item.description}}</p>
					</div>
				</div>
			</div>
			{%endif%}
			{%endfor%}
		</div>
	</div>
</section>