{% load static %}
<div class="all-news-block">
    <h3 class="news-title">
        <span>Latest Articles</span>
    </h3>
    <div class="all-news">
        <div class="news-style-one-slide">
            <!-- for loop start -->
            
            {% for item in latest_article%}
            <div class="row">
           
                <div class="col-lg-12 col-md-12">
                    <div class="post-block-wrapper post-float-half clearfix">
                        <div class="post-thumbnail">
                            <a href="{% url 'single-post' item.id %}">
                                <img class="img-fluid" src="{{item.img.url}}" alt="post-thumbnail"/>
                            </a>
                        </div>
                        <div class="post-content">
                            <a class="post-category" href="{% url 'post-category' item.category_id %}">{{item.category_name}}</a>
                            <h2 class="post-title mt-3">
                                <a href="{% url 'single-post' item.id %}">{{item.headline}}</a>
                            </h2>
                            <div class="post-meta">
                                <span class="posted-time">{{item.get_time}}</span>
                                <span class="post-author">by
                                    <a href="{% url 'author' item.author_id %}">{{item.author_name}}</a>
                                </span>
                            </div>
                            <p>
                        {{item.short_description}}
                            </p>
                        </div>
                    </div>
                </div>
                    
                
            </div>
                {%endfor%}
        </div>
    </div>
</div>
                {%comment%}
            <!-- <div class="row"> -->
                <div class="col-lg-6 col-md-6">
                    <div class="post-block-wrapper post-float-half clearfix">
                    <div class="post-thumbnail">
                            <a href="{% url 'single-post' 1 %}">
                                <img class="img-fluid" src="{% static 'images/news/news-12.jpg'%}" alt="post-thumbnail"/>
                            </a>
                        </div>
                        <div class="post-content">
                            <a class="post-category" href="{% url 'post-category' 1 %}">Health</a>
                            <h2 class="post-title mt-3">
                                <a href="{% url 'single-post' 1 %}">Today Is the Day Most People Quit Their New Year's Party</a>
                            </h2>
                            <div class="post-meta">
                                <span class="posted-time">4 hours ago</span>
                                <span class="post-author">by
                                    <a href="{% url 'author' 1 %}">Rimmon Ronnick</a>
                                </span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis blanditiis hic 
                                cumque excepturi...
                            </p>
                        </div>
                    </div>
                </div>

            {%endcomment%}
