{% load static %}
<div class="row">
    <!-- for loop start -->
     {%for item in news %}
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                    <img class="img-fluid" src="{{item.img.url}}" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="{% url 'post-category' item.category_id %}">{{item.category_name}}</a>
                <h2 class="post-title mt-3">
                    {%comment%}
                    <!-- <a href="{% url 'single-post' item.id %}">{{item.headline}}</a> -->
                    {%endcomment%}

                    <a href="{% url 'author_posts' item.author_id item.id %}">{{item.headline}}</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">{{item.get_time}}</span>
                    <span class="post-author">by
                        <a href="{% url 'author' item.author_id %}">{{item.author_name}}</a>
                    </span>
                </div>
                <p>
                    {{item.short_description}}
                </p>
            </div>
        </div>
    </div>
    {%endfor%}
    <!-- for loop end -->

    {%comment%}
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'single-post' 1 %}">
                    <img class="img-fluid" src="{% static 'images/news/news-05.jpg'%}" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="{% url 'post-category' 1 %}">Food</a>
                <h2 class="post-title mt-3">
                    <a href="{% url 'single-post' 1 %}">Here's How To Get Free Pizza On</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="{% url 'author' 1 %}">John Snow</a>
                    </span>
                </div>
                
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum eius eum, 
                    sapiente consequuntur tempore reiciendis harum ducimus repellendus officiis?
                </p>               
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'single-post' 1 %}">
                    <img class="img-fluid" src="{% static 'images/news/news-14.jpg'%}" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="{% url 'post-category' 1 %}">Travel</a>
                
                <h2 class="post-title mt-3">
                    <a href="{% url 'single-post' 1 %}">Snow and Freezing Rain in Paris Forces the</a>
                </h2>
               
               <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="{% url 'author' 1 %}">John Snow</a>
                    </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis corporis officia totam 
                    autem adipisci sapiente dignissimos quae eaque odit nostrum?
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'single-post' 1 %}">
                    <img class="img-fluid" src="{% static 'images/news/news-04.jpg'%}" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="{% url 'post-category' 1 %}">Google</a>
        
                <h2 class="post-title mt-3">
                    <a href="{% url 'single-post' 1 %}">Intel’s new smart glasses actually look good</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="{% url 'author' 1 %}">John Snow</a>
                    </span>
                </div>
               
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt minus, perferendis deleniti 
                    facere asperiores voluptatum consequuntur fugiat? Ipsam, sit.
                </p>


            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'single-post' 1 %}">
                    <img class="img-fluid" src="{% static 'images/news/news-03.jpg'%}" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="{% url 'post-category' 1 %}">Apple</a>
               
                <h2 class="post-title title-large mt-3">
                    <a href="{% url 'single-post' 1 %}">Apple HomePod review: locked in</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="{% url 'author' 1 %}">John Snow</a>
                    </span>
                </div>
                
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magnam dolorum consectetur 
                    obcaecati enim officia, eveniet quibusdam deserunt laboriosam unde
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'single-post' 1 %}">
                    <img class="img-fluid" src="{% static 'images/news/news-13.jpg'%}" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <a class="post-category" href="{% url 'post-category' 1 %}">Marc</a>
                
                <h2 class="post-title mt-3">
                    <a href="{% url 'single-post' 1 %}">An Asteroid Is Passing Earth Today: Here's How to</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time">an hour ago</span>
                    <span class="post-author">by
                        <a href="{% url 'author' 1 %}">John Snow</a>
                    </span>
                </div>
               
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veritatis odio nesciunt enim? 
                    Eos, aut. Ducimus delectus cupiditate quidem facere?
                </p>

            </div>
        </div>
    </div>
    {%endcomment%}
</div>
