{% load static %}
<div class="news-style-two">
    <h3 class="news-title">
        <span>Tech</span>
    </h3>
    <div class="row">
        <!-- loop starts  -->
        {%for item in tech_cat%}
        {% if forloop.counter == 1 %}
        <div class="col-md-6 col-sm-6">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail">
                    <a href="{% url 'single-post' item.id %}">
                        <img class="img-fluid" src="{{item.img.url}}" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="{% url 'post-category' item.category_id %}">{{item.category_name}}</a>
                <div class="post-content">
                    <h2 class="post-title mt-3">
                        <a href="{% url 'single-post' item.id %}">{{item.headline}}</a>
                    </h2>
                    
                    
                    <div class="post-meta mb-2">
                        <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>{{item.get_time}}</span>
                        <span class="post-author">
                            by
                            <a href="{% url 'author' 1 %}">{{item.author_name}}</a>
                        </span>
                    </div>
                    <p>{{item.short_description}}</div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-6">
                    {%endif%}
                    

        <!-- new section starts -->
                    <div class="post-list-block m-top-0">
                        <div class="post-block-wrapper post-float clearfix">
                            <div class="post-thumbnail">
                                <a href="{% url 'single-post' item.id %}">
                                    <img class="img-fluid" src="{{item.img.url}}" alt="post-thumbnail"/>
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="post-title title-sm">
                                    <a href="{% url 'single-post' item.id %}">{{item.headline}}</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>{{item.get_time}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            
    </div>
</div>

        {%comment%}
                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="{% url 'single-post' 1 %}">
                            <img class="img-fluid" src="{% static 'images/news/news-03.jpg'%}" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="{% url 'single-post' 1 %}">Apple HomePod review: locked in</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>10 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="{% url 'single-post' 1 %}">
                            <img class="img-fluid" src="{% static 'images/news/news-07.jpg'%}" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="{% url 'single-post' 1 %}">Your social media apps want to help</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>11 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="{% url 'single-post' 1 %}">
                            <img class="img-fluid" src="{% static 'images/news/news-02.jpg'%}" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="{% url 'single-post' 1 %}">Flu season rages on,2009 swine flu</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>12 hours ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endcomment%}