{% load static %}
<div class="related-posts-block">
    <h3 class="news-title">
        <span>Related Posts</span>
    </h3>
    <div class="news-style-two-slide">
        <!-- loop start -->
         {% for item in related_posts %}
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="{% url 'single-post' item.id %}">
                        <img class="img-fluid" src="{{item.img.url}}" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="{% url 'post-category' item.category_id%}">{{item.category_name}}</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="{% url 'single-post' item.id %}">{{item.headline}}</a>
                    </h2>
                     
                </div>
            </div>
        </div>

        {% endfor %}
        <!-- loop end -->

        {%comment%}
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="{% url 'single-post' news.id %}">
                        <img class="img-fluid" src="{% static 'images/news/news-10.jpg'%}" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="{% url 'post-category-1'%}">Food</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="{% url 'single-post' news.id %}">Free Two-Hour Delivery From Whole Foods</a>
                    </h2>
                   
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="{% url 'single-post" news.id >
                        <img class="img-fluid" src="{% static 'images/news/news-11.jpg'%}" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="{% url 'post-category-1'%}">Tour</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="{% url 'single-post' news.id %}">Snow and Freezing Rain in Paris Forces the</a>
                    </h2>
                  
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post-block-wrapper clearfix">
                <div class="post-thumbnail mb-0">
                    <a href="{% url 'single-post' news.id %}">
                        <img class="img-fluid" src="{% static 'images/news/news-18.jpg'%}" alt="post-thumbnail"/>
                    </a>
                </div>
                <a class="post-category" href="{% url 'post-category-1'%}">Beauty</a>
                <div class="post-content">
                    <h2 class="post-title title-sm">
                        <a href="{% url 'single-post' news.id %}">The Best Eye Makeup Tutorials for all</a>
                    </h2>
                    
                </div>
            </div>
        </div>
        {%endcomment%}

    </div>
</div>
