<!-- @@include('header.htm') -->
{% include 'partials/header.htm' %} 

<!-- @@include('blocks/top-nav.htm') -->
{% include 'partials/blocks/top-nav.htm' %} 
{% include 'partials/blocks/trending-bar-dark.htm' %} 
{% include 'partials/blocks/navigation.htm' %} 
{% include 'partials/blocks/breadcrumb.htm'  %} 
{% include 'partials/blocks/about.htm' %} 
{% include 'partials/blocks/footer.htm' %} 

<!-- @@include('blocks/trending-bar-dark.htm')

@@include('blocks/navigation.htm')

@@include('blocks/breadcrumb.htm', {
	"title"	:	"About"
})

@@include('blocks/about.htm')
@@include('blocks/footer.htm')

@@include('footer.htm') -->
{% include 'partials/footer.htm' %} 
